*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    display: grid;
    place-items: center;
    height: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 80rem;
}

.webCard{
    position: relative;
    left: 0px;
    width: 8rem;
    border: 16px;
    height: 10.6rem;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    flex: 0.25;
}

.webCard img{
    height: 10.6rem;
    width: 20rem;
}

.webCard:hover{
    flex: 2;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
}

.visit-button{
    width: 10rem;
    margin-top: 1rem;
    padding: 0 .5rem;
    background-color: var(--green90);
    font: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}

.visit-button:hover{
    background-color: var(--green);
    transition: .5s ease-in-out;
    width: 20rem;
}

.visit-button:not(:hover){
    transition: .3s ease-in-out;
}