li{
    display: inline;
    float: right;
}

.link{
    font-size: large;
    display: block;
    writing-mode: horizontal-tb;
    font-size: 125%;
}

li .link{
    text-decoration: none;
    text-align: center;
    position: relative;
    padding: 0px 16px 0 16px;
    color: black;
}

li .link:hover{
    background-color: var(--green);
    transition: .2s ease-in;
}

li .link:hover::after{
    transition: .2s ease-out;
}
