.job{
    width: 100%;
    margin: 4rem 0 0 0;
    padding: 1rem 0;
    backdrop-filter: blur(10px);
    border-radius: 25px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.3);
}

.card-body {
    max-width: 40rem;
    margin: 0 auto;
  }
  