
.page{
    background-image: url('../../../Content/workTree.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    z-index: 1;
}

.text-contrast {
    color: black;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }
  
  .text-contrast.dark-bg {
    color: white; 
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
  }
  